body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.emotion-calendar-container {
    width: 320px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.color-picker {
    margin-bottom: 15px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.day-header, .day {
    padding: 10px;
    border-radius: 4px;
    background-color: #e4e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.day {
    cursor: pointer;
    height: 40px;
}

.day.selected {
    background-color: var(--emotion-color, #ff0000);
}



/* Certifique-se de que o sidebar, ul, e li estão visíveis */
.sidebar {
    display: block;
    width: 250px;
    background-color: #f4f4f4;
    padding: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    background-color: #e4e4e4;
    border-radius: 5px;
    text-align: center;
}

.sidebar ul li a:hover {
    background-color: #ccc;
}
