* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #FAF3E0;
}

.container {
    display: flex;
    background-color: #FFF8E7;
    border-radius: 8px;
    overflow: hidden;
    max-width: 1000px;
    width: 100%;
}

.left-section {
    flex: 1;
    background-color: #B4CD8C;
    color: white;
    padding: 40px;
    text-align: center;
}

.left-section img {
    width: 100%;
    max-width: 300px; /* Ajuste este valor conforme necessário */
    height: auto;
    margin: 20px auto;
    display: block;
}


.right-section {
    flex: 1;
    padding: 40px;
}

.right-section h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #FFF8E7;
}

input:focus {
    outline: none;
    border-color: #A1E3A1; /* Verde suave para o foco */
    box-shadow: 0 0 5px rgba(161, 227, 161, 0.5);
}

button {
    padding: 10px;
    border: none;
    background-color: #A1E3A1;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.google-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.google-signup span {
    margin-right: 10px;
}

.google-btn {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    color: #555;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.login-option {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px; /* Aumenta a distância entre o botão Login e o título */
}

.login-btn {
    background-color: #A1E3A1; /* Define o fundo azul */
    border: 1px solid #ccc;
    color: white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

.login-btn:hover {
    background-color:#A1E3A1;
}

#loginRequest {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 300px;
    margin: 0 auto;
}

#loginRequest h2 {
    margin-bottom: 20px;
}

#loginRequest label {
    display: block;
    margin-top: 10px;
    text-align: left;
}

#loginRequest input {
    background-color: #FFF8E7 !important; 
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

#loginRequest {
    background-color: #FFF8E7; /* Mesma cor para o fundo do formulário */
}

#loginRequest button {
    padding: 10px;
    width: 100%;
    background-color: #A1E3A1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#loginRequest button:hover {
    background-color: #A1E3A1;
}
